.failed {
  background-color: red;
}

.success {
  background-color: green;
}

.status {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin:10px;
  color:white;
}

.title{
  font-size: 32px;
  flex-grow: 1;
}

.test-result{
  font-size: 28px;
  flex-grow: 1;
}

.failed-tests{
  font-size: 72px;
}

.owner{
  margin:20px;
  font-size: 30px;
}