.status-update{
  position: relative;
  bottom: 0px;
  font-size: 16px;
}

.status-form{
  background:white;
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  padding:20px;
  text-align: left;
  box-shadow: 1px 1px 15px 2px #515151;
}

.status-form input, .status-form select , .status-form button {
  padding:10px;
  font-size: 16px;
  min-width: 200px;
  margin-bottom: 10px;
}

.btn{
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}


